.header{
	background-color:rgba(0,0,20,.3);
	display:flex;
	width:100%;
	justify-content:space-between;
	align-items:center;
	padding:2px;

	&__brand{
		display:inline-block;
		width:30%;

		@mixin atLarge{
			width:25%;
		}
	}

	& img{
		display:inline;

	}
	

	&__menu-content{
		display:inline-block;
		
	}
	
	
}